<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="logo">
    </div>
    <div class="burger" id="burger">
      <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
        <path
          d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/>
        <path
          d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"/>
      </svg>
    </div>
    <nav class="menu " id="header-menu">
      <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
	</g>
</g>
</svg>
      </div>
      <ul>
        <li><a href="#" (click)="scrollTo(products)">Пироженки</a></li>
        <li><a href="#" (click)="scrollTo(about)">О нас</a></li>
        <li><a href="#" (click)="scrollTo(form)">Оформить заказ</a></li>
      </ul>
    </nav>
    <div class="phone-number phone-number-header">
      <a href="#">{{phoneNumber}}</a>
    </div>
  </div>
</header>

<section class="section-main">
  <div class="container">
    <div class="section-main-text">
      <h1>
        Мягкие французские пироженки Macaroons
      </h1>
      <div class="section-main-text-description">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="action">
        <button class="btn" (click)="scrollTo(products)" ButtonBg>Выбрать макарун</button>
      </div>
    </div>
    <div class="section-main-image animation">
      <img src="../assets/images/macaroons.png" alt="macaroons">
    </div>
  </div>
</section>

<div #about>
  <advantages></advantages>
</div>

<section class="products" #products>
  <div class="container">
    <h2 class="products-title">Выберите свой макарун</h2>
    <div class="products-items">
      <macaroon *ngFor="let macaroon of macaroons" [macaroon]="macaroon" (addMacaroonToCartEvent) = 'orderProduct(this.macaroon, form)'></macaroon>
    </div>
  </div>
</section>

<section class="order" #form>
  <div class="container">
    <div class="order-image">
      <img src="../assets/images/macarons.png" alt="macarons">
    </div>
    <div class="order-form">
      <div class="order-form-text">
        <h2>Закажите макарун!</h2>
        <p>Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!</p>
      </div>
      <form>
        <div class="form">
          <div class="order-form-inputs-order">
            <p>Ваш выбор</p>
            <div class="order-input">
              <input type="text" name="product" id="inputProduct"
                     class="order-form-input"
                     placeholder="Напишите, что хотите заказать">
              <div class="error-input" id="productError">Выберите макарун</div>
            </div>

          </div>
          <div class="order-form-inputs-contacts">
            <p>Заполните данные для заказа</p>
            <div class="order-input">
              <input type="text" name="name" id="inputName"
                     class="order-form-input"
                     placeholder="Ваше имя">
              <div class="error-input" id="nameError">Введите ваше имя</div>
            </div>
            <div class="order-input">
              <input type="text" name="phone" id="inputPhone"
                     class="order-form-input"
                     placeholder="+375 (__) ___ - __ - __">
              <div class="error-input" id="phoneError">Введите номер телефона</div>
            </div>
          </div>
          <div class="order-form-action">
            <button type="button" id="orderButton" class="btn order-form-action-btn" ButtonBg>Оформить заказ</button>
          </div>
        </div>

        <div class="success-1">
          <h2>Спасибо за Ваш заказ!</h2>
          <p>Мы скоро свяжемся с Вами!</p>
        </div>
      </form>

    </div>
    <div class="strawberry-right">
      <img src="../assets/images/berry-right.png" alt="berry-right">
    </div>
    <div class="strawberry-left">
      <img src="../assets/images/berry-left.png" alt="berry-left">
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="logo-footer">
      <img src="../assets/images/logo.png" alt="logo">
    </div>
    <p class="rights">Все права защищены, 2020</p>
    <div class="instagram"><a [href]="instagramLink">
      <div class="instagram-image">
        <img src="../assets/images/instagram.png" alt="instagram">
        <p>Мы в Instagram</p>
      </div>
    </a>
    </div>
    <div class="phone-footer">
      <a href="#">{{phoneNumber}}</a>
    </div>
  </div>
</footer>

<cart *ngIf="showCart"></cart>

<div class="loader">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>
